:root {
    --navBG: #37466c;
    --navText: #f7ce68;
    --mainText: #110f09;
    --cardBG: #c3bcdc;
    --cardBorder: #457887;
    --inputBG: #9d8fc3;
    --placeholderText: #645285;
    --deleteBtnBG: #9282bc;
}

html {
    box-sizing: border-box;
}

body {
    width: 350px;
    margin: 0;
    padding: 0;

    /* gradient from https://omatsuri.app/gradient-generator  */
    background-image: linear-gradient(135deg, #fbab7e 10%, #f7ce68 90%);
}

/* ======================================================= */

nav {
    background-color: var(--navBG);
    padding: 1px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
nav p {
    font-size: 24px;
    color: var(--navText);

    margin: 1px;
    padding: 5px;
    height: 30px;
}

/* ======================================================= */

main {
    font-size: 18px;
    color: var(--mainText);
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label {
    color: var(--mainText);
}

input {
    background-color: var(--inputBG);
    color: var(--mainText);

    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    width: 90%;
}
input::placeholder {
    color: var(--placeholderText);
}

/* ======================================================= */

.card {
    background-color: var(--cardBG);
    border: 2px solid var(--cardBorder);
    border-radius: 10px;
    padding: 4px 8px;
    margin: 5px;
    width: 75%;
}

#keyword-list p {
    margin: 0;
    padding: 0;
    top: 0;
    text-align: center;
}

#keyword-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0px;

    padding: 0px;
    margin-bottom: 6px;
    overflow-y: scroll;
    min-height: 50px;
    max-height: 150px;
}

.card > .keyword-list-item {
    padding: 3px 6px;
    margin: 0px;
}

.keyword-list-item {
    width: 150px;
    font-size: 12px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 3px 6px;
    margin: 0px;
    border: 1px solid var(--inputBG);
    border-radius: 10px;
}

.keyword-list-item button {
    background-color: var(--deleteBtnBG);
    border: 1px solid var(--inputBG);
    border-radius: 100%;
    padding: 2px 3px;
    cursor: pointer;
}
