:root {
    /* --text: #050505;
    --background: #9fb5c1;
    --primary: #333c46;
    --secondary: #708ea0;
    --accent: #c04b0c; */

    --text: #eaeff6;
    --background: #40505e;
    --primary: #bc9262;
    --secondary: #19190b;
    --accent: #a84b48;

    /* ================ */
    --baseBG: var(--background);
    --baseText: var(--text);
    --navBG: var(--accent);
    --navText: var(--text);
    --cardBG: #c04b0c;
    --cardBorder: #02a4d8;
    --inputBG: #708ea0;
    --inputText: var(--text);
    --placeholderText: #333c46;
}

html {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9fb4c1;
    padding: 20px;
}

body {
    width: 300px;
    margin: 0;
    padding: 0;
    background-color: var(--baseBG);
    color: var(--baseText);
}

/* ======================================================= */

nav {
    background-color: var(--navBG);
    padding: 1px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
nav p {
    font-size: 24px;
    color: var(--navText);

    margin: 1px;
    padding: 5px;
    height: 30px;
}

/* ======================================================= */

main {
    font-size: 18px;
    color: var(--mainText);
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: var(--inputBG);
    color: var(--inputText);

    border: none;
    padding: 5px;
    margin: 5px;
    width: 90%;
}
input::placeholder {
    color: var(--placeholderText);
}

/* ======================================================= */

.card {
    background-color: var(--cardBG);
    border: 2px solid var(--cardBorder);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 90%;
}

.keyword-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
}
